.button {
  color: white;
  border-radius: 6px;
  border: none;
  padding: 8px 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.25s;
}

.button:hover {
  background: #222096;
}

.accent {
  background: #312eb5;
}
